.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
    color: white; 
}

.style{
    background-color: brown;
}

.travel{
    background-color: rgb(4, 53, 53);
}

.culture{
    background-color: rgb(39, 168, 27);
}

.fashion{
    background-color: rgb(221, 93, 7);
}

.coding{
    background-color: rgb(212, 41, 228);
}